{
    # Enable automatic HTTPS with local certificates
    local_certs
}

pve.lan {
    reverse_proxy https://192.168.0.93:8006 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Host pve.lan
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-For {remote_host}
        header_up X-Real-IP {remote_host}
    }
}

pbs.lan {
    reverse_proxy {
        to https://192.168.0.143:8007
        transport http {
            tls_insecure_skip_verify
        }
    }
}

komodo.lan {
    reverse_proxy 192.168.0.137:9120
}

debrid.lan {
    reverse_proxy 192.168.0.137:3333
}

vikunja.lan {
    reverse_proxy 192.168.0.137:3456
}

pihole.lan {
    reverse_proxy 192.168.0.137:880
}

immich.lan {
    reverse_proxy 192.168.0.137:2283
}

backrest.lan {
    reverse_proxy 192.168.0.137:9898
}

jellyfin.lan {
    reverse_proxy 192.168.0.137:8096
}

mealie.lan {
    reverse_proxy 192.168.0.137:9925
}

wallabag.lan {
    reverse_proxy 192.168.0.137:8880
}

print.lan {
    reverse_proxy 192.168.0.137:631
}

conduit.lan {
    reverse_proxy 192.168.0.137:8081
}

vault-sync.lan {
    reverse_proxy 192.168.0.137:8090
}

roasta.lan {
    handle /images/* {
        uri strip_prefix /images
        reverse_proxy 192.168.0.137:9000
    }
    handle {
        reverse_proxy 192.168.0.137:3002
    }
}
