{
    # Enable automatic HTTPS with local certificates
    local_certs
}

pve.local {
    reverse_proxy https://192.168.0.93:8006 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Host pve.local
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-For {remote_host}
        header_up X-Real-IP {remote_host}
    }
}

pbs.local {
    reverse_proxy {
        to https://192.168.0.143:8007
        transport http {
            tls_insecure_skip_verify
        }
    }
}

komodo.local {
    reverse_proxy 192.168.0.137:9120
}

debrid.local {
    reverse_proxy 192.168.0.137:3333
}

vikunja.local {
    reverse_proxy 192.168.0.137:3456
}

pihole.local {
    reverse_proxy 192.168.0.137:880
}

immich.local {
    reverse_proxy 192.168.0.137:2283
}

backrest.local {
    reverse_proxy 192.168.0.137:9898
}

jellyfin.local {
    reverse_proxy 192.168.0.137:8096
}

mealie.local {
    reverse_proxy 192.168.0.137:9925
}

wallabag.local {
    reverse_proxy 192.168.0.137:8880
}

print.local {
    reverse_proxy 192.168.0.137:631
}

conduit.local {
    reverse_proxy 192.168.0.137:8081
}

vault-sync.local {
    reverse_proxy 192.168.0.137:8090
}

roasta.local {
    handle /images/* {
        uri strip_prefix /images
        reverse_proxy 192.168.0.137:9000
    }
    handle {
        reverse_proxy 192.168.0.137:3002
    }
}
