{
    # Enable automatic HTTPS with local certificates
    local_certs
}

pve.local {
    reverse_proxy https://192.168.0.93:8006 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up Host 192.168.0.93
    }
}

pbs.local {
    reverse_proxy https://192.168.0.143:8007 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up Host 192.168.0.143
    }
}

komodo.local {
    reverse_proxy 192.168.0.137:9120
}

debrid.local {
    reverse_proxy 192.168.0.137:3333
}

vikunja.local {
    reverse_proxy 192.168.0.137:3456
}

pihole.local {
    reverse_proxy 192.168.0.137:880
}
