version: '3'

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    deploy:
      resources:
        limits:
          memory: 256M
    restart: unless-stopped
    ports:
        - "192.168.0.137:80:80"
        - "192.168.0.137:443:443"
        - "192.168.0.137:443:443/udp"
    volumes:
      - type: bind
        source: ./Caddyfile
        target: /etc/caddy/Caddyfile
        read_only: true
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
  caddy_config:
    
